<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmação de E-mail</title>
    <style>
      /* Estilos opcionais para melhorar a aparência do email */
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        text-align: center;
        color: #333333;
      }
      p {
        margin-bottom: 20px;
        line-height: 1.6;
        color: #555555;
      }
      .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
      }
      .btn:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Confirmação de E-mail</h1>
      <p>Olá,</p>
      <p>
        Por favor, clique no botão abaixo para confirmar seu endereço de e-mail:
      </p>
      <p><a href="{{link}}" class="btn">Confirmar E-mail</a></p>
      <p>Se você não solicitou esta confirmação, ignore este e-mail.</p>
      <p>Obrigado,<br />Equipe Exemplo</p>
    </div>
  </body>
</html>
